# Memo SQL

## Info

Le SQL est un moyen de créer des bases de données, de les modifier et rechercher dedans.  
  
Le SQL possede plusieurs commande qui peuvent se séparer en 3 catégorie : 
- La creation de table
- la recherche d'information dans une table
- la modification dans une table.  
  
Présent ci dessous

## Creation de la table
| Mots clef | Definition | Parametre |
|:-----------|:------------:|------------:|
| CREATE TABLE | Permet de crée une TABLE SQL dans la base de donnée | |
| SELECT | Selectionner, dans une TABLE SQL, des atributs   | |
| FROM | Permet de selectionner TABLE SQL    | |
| INSERT INTO | Permet d'inserer une donnée dans la TABLE SQL selectionner  | |
| VALUES | est un argument qui peux aller avec INSERT INTO qui permet de saisir une valeur a ajouter à la base de donnée  | |

## Recherche d'info
| Mots clef | Definition | Parametre |
|:-----------|:------------:|------------:|
| WHERE | Permet d'afficher seulement un type d'attributs par exemple "WHERE auteurs" affiche que les auteurs d'une base de donnée comportant des livres et il peut prendre en détail "auteur = Verne"   | MAX (renvoie la valeur la plus élevé), SUM (renvoie l'addition de toute les valeurs),  UPPER (permet de mettre en MAJ la chaine de caractere),  LOWER (permet de mettre en minuscule la chaine de caractere) |
| INNER JOIN [table] ON [table2] | Permet de relier plusieurs TABLE entre elles | |
| DISTINCT | Permet de retirer les valeurs en double | |
| AS | Permet de renommer un attribut (sans le changer juste un raccourci) | |
| LENGHT | Permet de renvoyer la longueur d'une chaine de caractere | |
| COUNT | Permet de compter le nombre de lignes dans une table | |
| AVG | Permet de calculer la moyenne | |
| MEDIAN | Permet de calculer la mediane | |
| MIN | Permet de renvoyer la valeur maximale d'une table | |
| MAX | Permet de renvoyer la valuer minimale d'une table | |
| HAVING | Permet d'ajouter des restrictions à la recherche| |
| | | |
| GROUP BY | Permet de renvoyer la valeur maximale d'une table | |
| ORDER BY | Permet de renvoyer la valuer minimale d'une table | |
| LIKE | Permet créé un alias un attribut (sans le changer juste un raccourci) | |
| LIMIT | Permet créé une limite a la recherche (genre LIMIT 10 donne les 10 premieres valeurs) | |

## modification de la table
| Mots clef | Definition | Parametre |
|:-----------|:------------:|------------:|
| "deux trait qui pointe vers le haut" | permet de faire de la concaténation de deux chaines de caractere (ou sous chaine) | |
| SUBSTR | Permet de relever une chaine (ou sous chaine) de caractere  | |
| UPPER | Permet de mettre toute la chaine (ou sous chaine) de caractere en MAJ | |
| LOWER | Permet de mettre toute la chaine (ou sous chaine) de caractere en MIN | |
| ROUND | Permet d'arrondir une valeur (par exemple 4,6 en 5) | |
| REPLACE| Permet de remplacer un attribut par une autre valeur | |